*{
  box-sizing: border-box;
}

#list-container{
  border: 2px solid darkgray;
  padding:0px;
  margin: 0px;
}

.toDo-Card{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5px 10px;
  border-top: 1px solid darkgray;
  color: white;
  transition: background-color 0.5s ease
}

.toDo-Card:first-child{
  border: none;
}

.toDo-Card p{
  margin-left: 10px;
}

.toDo-Card .complete-btn{
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid black;
  background-color: white;
}

.toDo-Card .complete-btn:hover{
  background-color: lightgreen
}

.toDo-Card .remove-btn{
  margin-left: auto;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  background-color: rgb(255, 0, 0);
  border: 1px solid black;
}

.finished{
  background-color: rgba(150, 226, 125, 0.179);
}

.finished p{
  text-decoration: line-through;
  opacity: 0.5;
}

.finished .complete-btn{
  background-color: lime;
}

.finished .complete-btn::after{
  color: black;
  font-weight: 900;
  content: "✓";
}

.finished .complete-btn:hover{
  background-color: white;
}



.toDo-input-container{
  display: flex;
  align-items: center;
  padding: 20px;
}

.toDo-input-container form{
  display: flex;
  flex-grow: 1;
}

#input-label{
  font-weight: bold;
  padding: 5px 10px;
}

#toDo-input{
  flex-grow: 1;
}

#input-button{
  background-color: gray;
  border-radius: 5px;
  padding: 5px 20px;
  border: 1px solid white;
  margin-left: 10px;
  font-weight: bold;
}

#input-button:hover{
  background-color: rgb(192, 188, 188);
}

#input-button:active{
  transform: scale(0.95);
}




.error{
  text-align: center;
  width: 50%;
  display: block;
  color: white;
  background-color: crimson;
  padding: 20px;
  border-radius: 10px;
  animation: bounce 0.75s infinite;
  margin: 0 auto;
}

@keyframes bounce {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}